@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'NanumSquare';
  font-weight: 300;
  font-style: normal;
  src: url('/fonts/NanumSquare_acL.ttf') format('ttf');
}

@font-face {
  font-family: 'NanumSquare';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/NanumSquare_acR.ttf') format('ttf');
}
@font-face {
  font-family: 'NanumSquare';
  font-weight: 500;
  font-style: normal;
  src: url('/fonts/NanumSquare_acB.ttf') format('ttf');
}
@font-face {
  font-family: 'NanumSquare';
  font-weight: 700;
  font-style: normal;
  src: url('/fonts/NanumSquare_acEB.ttf') format('ttf');
}

body {
  font-family: 'NanumSquare', san-serif;
}

/* 커스텀 스크롤바 */
textarea::-webkit-scrollbar {
  width: 4px;
}

textarea::-webkit-scrollbar-thumb {
  background-color: #fde68a;
  border-radius: 4px;
}
